.background--banner-top {
    background-image: url('../img/main-banner.png');
    background-position: left center !important;
    @include background;
    
    @media (max-width: 768px) {
        background-position: center !important;
    }

    &:after {
        @include psuedo;
        top: 0;
        left: 0;
        width: 100%;
        height: 85vh;
        background-image: -webkit-linear-gradient(115deg, rgba(255, 90, 95, 0.75), rgba(0, 132, 137, 0.75));
        background-image: linear-gradient(115deg, rgba(255, 90, 95, 0.75), rgba(0, 132, 137, 0.75));
        @include background;
        
        @media (max-width: 768px) {
            height: 65vh;
            top: 88px;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.background--testimonials,
.background--places {
    background-color: #f9f9f9;
    @include background;
}

.background--map {
    background-color: #fff;
    @include background;
}

.background--footer {
    background-color: $secondary-color;
    @include background;
}