@import "../helpers/_variables";
@import "../helpers/_mixins";

@media (max-width: 768px) {
    main#content {
        margin-top: 88px;
    }
}

#map {
    height: 500px;
    box-shadow: $shadow--medium;
    transition: $transition--250ms;
    
    @media (max-width: 768px) {
        height: 350px;
    }
}
#map:hover { box-shadow: $shadow--hover; }
hr { margin: 0; border: 0; border-top: 1px solid #e3e6f0; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
                            
.front-page--image {
    object-fit: cover;
    object-position: center;
    height: 85vh;
    width: 100%;
    padding-top: 88px;
    position: relative;
    z-index: 2;
}