#paris-tourism,
#santorini-tourism,
#rome-tourism {
    svg {
        rect.bar {
            fill: $secondary-color;
        }
        
        .tick text {
            font-family: 'Roboto', sans-serif;
            color: #484848;
        }
        
        .axis path,
        .axis line {
            stroke: none;
        }
    }
}

.pie-slice {
    &:nth-child(6n+1) path {
        fill: $secondary-color;
    }
    
    &:nth-child(6n+2) path {
        fill: #00767b;
    }
    
    &:nth-child(6n+3) path {
        fill: #00696d;
    }
    
    &:nth-child(6n+4) path {
        fill: #005c5f;
    }
    
    &:nth-child(6n+5) path {
        fill: #004f52;
    }
    
    &:nth-child(6n+6) path {
        fill: #004244;
    }
}

#select-destination {
    display: none;
}

.dc-chart {
    pointer-events: none;
}