.place-item {
    position: relative;
    padding: 0;
    transition: $transition--250ms;;
    min-height: 375px;
    max-height: 375px;
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: auto;
    
    @media (max-width: 568px) {
        margin-bottom: 1rem;
        
        &.rome {
            margin-bottom: 0;
        }
    }
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.36);
        @include background;
    }
    
    &.paris {
        background-image: url('../img/paris.jpg');
        @include background;
    }
    
    &.santorini {
        background-image: url('../img/santorini.jpg');
        @include background;
    }
    
    &.rome {
        background-image: url('../img/rome.jpg');
        @include background;
    }

    &:hover {
        position: relative;
        z-index: 2;
        box-shadow: $shadow--hover;
        transform: scale(1.02);

        .place-button {
            position: relative;
            z-index: 2;
            transform: translateY(30px);
        }
    }

    img,
    p {
        flex: 0 1 100%;
        // margin: 0;
        position: relative;
        z-index: 2;
    }

    img {
        width: auto;
        max-width: 75px;
        min-height: 75px;
        max-height: 75px;
        margin: 0 auto 3rem auto;
    }

    .icon {
        flex: 0 1 100%;
        text-align: center;
        
        svg {
            display: block;
            width: auto;
            max-width: 75px;
            min-height: 75px;
            max-height: 75px;
            margin: 0 auto 3rem auto;
        }
    }

    p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 700;
        color: #fff;
        
        &:first-of-type {
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0.25rem;
            font-size: 1.5rem;
        }
    }

    .place-button {
        flex: 0 1 100%;
        transform: translateY(30px);
        transition: 0.25s all ease-in-out;
    }
}

// MFP
.white-popup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    padding: 3rem;
    width: auto;
    max-width: 1152px;
    margin: 2rem auto;
    min-height: 300px;
    
    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.mfp-close-btn-in .mfp-close {
    width: 44px;
    background-color: transparent;
    transition: 0.25s all ease-in-out;
    
    &:hover {
        color: black;
        background-color: transparent;
    }
}


.paris-slider {
    img {
        width: 100% !important;
        max-height: 350px;
        object-fit: cover;
        object-position: center;
    }
}

.footer-title {
    color: #fff;
}

.footer-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
        margin-bottom: 5px;
        
        :last-of-type {
            margin-bottom: 0;
        }
        
        a {
            color: #fff;
            transition: $transition--250ms;
            
            &:hover {
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }
}

.social-links li {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    height: 32.4px;
    width: 32.4px;
    text-align: center;
}

.social-links li a {
    color: $primary-color;
}