@mixin push--auto {
    display: block;
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin psuedo($content: '', $display: block, $position: absolute) {
    content: $content;
    display: $display;
    position: $position;
}

@mixin background {
    @content;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    }
}