// Colors
$primary-color: #ff5a5f;
$primary-color-light: #ff6a6f;
$primary-color-dark: #e55155;
$secondary-color: #008489;
$secondary-color-light: #199094;
$secondary-color-dark: #00767b;
$header-color: #484848;
$body-color: #484848;

// Animation
$transition--250ms: 0.25s all ease-in-out;

// Shadows
$shadow--light: 0 .125rem .25rem rgba(0,0,0,.075);
$shadow--medium: 0 .5rem 1rem rgba(0,0,0,.15);
$shadow--hover: 0 1rem 3rem rgba(0,0,0,.175);